.code {
    counter-reset: line;
    font-size: 1.2rem;
    line-height: 2rem;
}

.line::before {
    content: counter(line);
    counter-increment: line;
    margin-right: 1rem;
    color: grey;
}

.code a {
    color: rgb(38, 138, 200);
    font-size: 1.2rem;
    text-decoration: none;
}

.code a:hover {
    text-decoration: underline;
}

.className {
    color: rgb(38, 138, 200);
    font-size: 1.2rem;
}

.whiteText {
    color: #e0e0e0;
    font-size: 1.2rem;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5em;
}

.container>* {
    flex: 1;
}

.container>div:first-child {
    border-right: 1px solid var(--accent-color);
}


.heading {
    margin-bottom: 1.5rem;
}