.titleBar {
    background: linear-gradient(45deg, #1b0200 40%, #fae384 100%);
    text-align: left;
    padding: 3rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.subTitle {
    color: #dab140;
}

.textBar {
    background: #383838;
    text-align: left;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 2rem;
}

.textBar img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
}

a {
    color: #6fa4e1;
}